{%extends "index.html"%}

{%block content%}
<section id="category">
        {% for category,path in category_name.items()%}
        <div class="card" style="width: 22rem;">
            <img src="{{img_dict[category]}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{category}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{{url_for('test', name=add_dict[path])}}" class="btn btn-primary">See More</a>
            </div>
          </div>
      {%endfor%}
</section>
{%endblock%}