{%extends "base.html"%}

{%block content%}
<div id="product-dropdown">
    <a href="" class="menu"><i class="fas fa-bars"></i> DANH MỤC SẢN PHẨM</a>
    <div id="dropdown-content">
      {% for page in range(1,5)%}
        <a  href="{{ url_for('analysis', names=names, command= page) }}">Page {{page}}</a>
        <hr>
      {%endfor%}
    </div>
  </div>
  </header>  

<div id="display">

<section id="category">
  {% for item in same_level%}
  <div class="card border-info mb-3" style="width: 22rem;">  
    <div class="card-body">
      <h5 class="card-title">{{item[0]}}</h5>
      <a href="{{ url_for('product', names=item[0]) }}" class="btn btn-primary">See More</a>
    </div>
  </div>
  {%endfor%}
  </section>

<section id="products">
{% for item in products%}
<div class="card border-light md-3" id='item' style="width: 22rem;">
  <img src="{{item[1]}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{item[0]}}</h5>
    <a href="#" class="btn btn-primary">See More</a>
  </div>
</div>
{%endfor%}
</section>

</div>

{%endblock%}