{%extends "index.html"%}

{%block content%}
<div id="product-dropdown">
  <a href="" class="menu"><i class="fas fa-bars"></i> DANH MỤC SẢN PHẨM</a>
  <div id="dropdown-content">
    {% for name, path in categories.items()%}
      {%if 'Voucher' in categories%}
      <a  href="{{ url_for('test', name=path) }}">{{name}}</a>
      {%else%}
      <a  href="{{ url_for('test', name=path) }}">{{name}}</a>
      <hr>
      {%endif%}
    {%endfor%}
  </div>
</div>
</header>  


<section id="category">
{% for name,path in categories.items()%}
<div class="card" style="width: 22rem;">
  <img src="{{img_dict[name]}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="{{ url_for('test', name=path) }}" class="btn btn-primary">See More</a>
  </div>
</div>
{%endfor%}
</section>


{%endblock%}